body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color:white;
    color: black;
    padding: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 15px;
}

.foto {
    background-color: white;
    padding: 10px;
    width: 250px;
}

.foto img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
